/* app/globals.css or styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-background:red;
  --color-foreground: #171717;
  --color-primary: #2563eb;
  --color-secondary: #10b981;
  --color-muted: #f5f5f5;
  --color-card: #f9fafb;
}

.dark {
  --color-background: red;
  --color-foreground: #ededed;
  --color-primary: #1d4ed8;
  --color-secondary: #059669;
  --color-muted: #1f2937;
  --color-card: #111827;
}
